.venv
venv
__pycache__
*.pyc
.git
.gitignore
.env
.env.production
published/*
_published/*
_Drafts
_DRAFT
*.log
.idea
.vscode
.DS_Store
docs/
tests/
_renders/
_responsive_screenshots/
*.html
.pytest_cache/
